/*
 *
 * Animation
 *
 */

@keyframes introAnimation {
    0%     { letter-spacing: 0px; opacity: 0; }
    50%    { opacity: 1; }
    100%   { letter-spacing: 14px; opacity: 1;}
}

@keyframes introAnimationLine {
    0%     { width: 0; }
    100%   { width: 110%; }
}


@keyframes introAnimationBg {
    0%     { opacity: 0; transform: scale(.99); }
    30%    { opacity: 0; transform: scale(.99); }
    100%   { opacity: .25; transform: scale(1.05);}
}


@keyframes introAnimationMovie {
    0%     { opacity: 0; transform: translateY(-10px) scale(.98); }
    40%    { opacity: 0; transform: translateY(-10px) scale(.98); }
    100%   { opacity: 1; transform: translateY(0px) scale(1); }

}

@keyframes introAnimationMovieBg {
    0%     { opacity: 0; transform: translateY(-10px) scale(.98); }
    50%    { opacity: 0; transform: translateY(-10px) scale(.98);}
    100%   { opacity: .5; transform: translateY(0px) scale(1);}

}
