/*
 *
 * Variables
 *
 */


/* Colors
-----------------------*/

$color-black        : #232323;
$color-grey         : #A3A3A3;
$color-red          : #ef3434;
$color-lightBlue    : #3be5d3;

$color-darkDivider: rgba(255, 255, 255, .2);



/* Fonts
-----------------------*/

$fontFamily-base: 'Lato', arial, sans-serif;
$fontFamily-campton: 'Campton Bold', 'Lato', arial, sans-serif;

$fontSize-small: 12px;
$fontSize-regular: 14px;
$fontSize-big: 16px;
