/*
 *
 * Variables
 *
 */


 /* Colors
 -----------------------*/

$color-black: #0c0c0c;
$color-grey: #222222;

$color-darkDivider: rgba(255, 255, 255, .2);



/* Fonts
-----------------------*/

$fontFamily-base: 'Relative', arial, sans-serif;

$fontSize-small: 12px;
$fontSize-regular: 14px;
$fontSize-big: 16px;
