/*
 *
 * Variables
 *
 */


 /* Colors
 -----------------------*/

$color-black        : #232323;
$color-grey         : #222222;
$color-red          : #ef3434;
$color-lightBlue    : #3be5d3;

$color-darkDivider: rgba(255, 255, 255, .2);



/* Fonts
-----------------------*/

$fontFamily-base: 'Lato', arial, sans-serif;

$fontSize-small: 12px;
$fontSize-regular: 14px;
$fontSize-big: 16px;
